 <div class="user-details">
  <h1> About</h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-oracle-original"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark"></i>
      <p> I began programming in Python and through the course of my education, personal projects, and work, I've had the chance to work with a handful of other langauges like Java, R, SQL, C, C#, Scala, Scheme, and more. </p>
    </div>
    <div class="tech">
      <h2>Experience</h2>
      <i class="devicon-apple-original"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <p>I've had a diverse <a target="_blank" style="color:#FC33FF ; text-decoration:none" href="mv4z.github.io/pdfs/r42020.pdf">work history</a> ranging anywhere from Caddying to Software Engineering. One thing which has been consistent for me in all of these experiences has been that they've all been customer-oriented. I think that through my experience, I can relate to customers/clients and it helps facilitate work that much more. </p>
    </div>
</div>
