<div class="user-details">
  <h1> Featured Repo's </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="pyth" src="{{ "/assets/img/python_prog.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> CodePlayground </h3>
    <p>This repo contains source for assignments that I've had to complete, and primarily snippets of practice. This repo serves almost like a time machine for me. I have included code from when I first started programming, and it helps me remember how much progress I've made.  </p>
    <a class="project-link" href="https://github.com/mv4z/CodePlayground.git">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="data_analysis" src="{{ "/assets/img/data_analysis.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Data Analysis </h3>
    <p>Data Analysis has been interesting to me ever since I came to the realization that data is EVERYWHERE. This repo will contain a collection of some Data Analysis projects I've been able to work on. They are going to primarily be written in R or Python. I've had the opportunity to work with Big Data technologies such as Hadoop, Hive, and Pig on AWS, and I plan on learning more about distributed systems and their relationships with big data.</p>
    <a class="project-link" href="https://github.com/mv4z">Check it out</a>
  </div>
</div>
